 <section id="playlist">
    <div class="card">
        <table class="table table-hover">
            <thead>
            <tr>
                <br>
                <th scope="col">mã playlist</th>
                <th scope="col">tên playlist</th>
                <th scope="col">Thời gian đăng</th>
            </tr>
            </thead>
            <tbody>
            {{#each this.playlist}}
                <tr style="white-space: pre-line">
                    <th scope="row">{{MAPLAYLIST}}</th>
                    <td>{{TENPLAYLIST}}</td>
                    <td>{{TGDANG}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>

    </div>
 </section>