<section id="Playlist">
    <h1 class="title_ll">Playlist</h1>

    <div class="ll">
        <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
            <div class="ll-form">
                <div class="ll-box">
                    <h4 class="title"><a href="">Nhạc Xuân</a></h4>
                    <p>Người đăng: Sự Nguyễn</p>
                    <p>Số bài hát: 10</p>
                </div>
            </div>

            <div class="ll-form">
                <div class="ll-box">
                    <h4 class="title"><a href="">Nhạc Sàn</a></h4>
                    <p>Người đăng: Đạt K</p>
                    <p>Số bài hát: 1</p>
                </div>
            </div>

            <div class="ll-form">
                <div class="ll-box">
                    <h4 class="title"><a href="">Remix</a></h4>
                    <p>Người đăng: Trọng Khắn</p>
                    <p>Số bài hát: 1000</p>
                </div>
            </div>

            <div class="ll-form">
                <div class="ll-box">
                    <h4 class="title"><a href="">Nhạc vàng khè</a></h4>
                    <p>Người đăng: Thanh Minh</p>
                    <p>Số bài hát: 8</p>
                </div>
            </div>

            <div class="ll-form">
                <div class="ll-box">
                    <h4 class="title"><a href="">Cãi Lương</a></h4>
                    <p>Người đăng: Tiến Duy</p>
                    <p>Số bài hát: 0</p>
                </div>
            </div>
            

        </div>
    </div>
</section>