<section id="HotSong">
    <h1 class="title_hs">Your Playlist</h1>

    <div id="infor_hotsong">
        <div>
            <h4 class="title"><a href="/Playlist/inplaylist">Nhạc Tết</a></h4>
            <p>Người tạo: Sự Nguyễn</p>
            <p>Số bài hát: 100</p>
        </div>
    </div>
</section>