<section id="YourPlaylist">
    <h1 class="title">Your Playlist</h1>
    <div class="YourPlaylist_form">
        <div id="infor_playlist">
                <div>
                    <h4><a href="/Playlist/inplaylist">Nhạc Tết</a></h4>
                    <p>Người tạo: Sự Nguyễn</p>
                    <p>Số bài hát: 100</p>
                </div>
        </div>
        
        <div id="CreatePlaylist">
            <nav id="navbar" class="navbar">
            <ul>
              <li class="dropdown"><a href="#"><span class="title_cpl">Create Playlist</span></a>
                <ul>
                  <li><input type="text" placeholder="Enter name playlist..."></li>
                  <li><input id="create_btn" type="submit" value="Create"></li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
    </div>
</section>