<section id="profile">
    <div class="container">
        <div class="left-container">
            <img src="img/user.png" class="profile-img"><br>
            <button class="btn-change-img">Change Image &nbsp;&nbsp;<i class="bi bi-pencil"></i></button>
            <h1 class="username">User name</h1>
        </div>
        <div class="right-container">
            <div class="leftbox">
                <nav>
                    <a class="tab active" onclick="tabs(0)">
                        <i class="bi bi-person-fill"></i>
                    </a> 
                    <a class="tab" onclick="tabs(1)">
                        <i class="fa fa-pencil-square-o"></i>
                    </a>
                </nav>
            </div>
            <div class="rightbox">
                <div class="profile tabShow">
                    <br>
                    <h1>Personal Info</h1>

                    <h2>Email</h2>
                    <input type="text" class="input" value="truongtrongkhanhcm@gmail.com">

                    <h2>Full name</h2>
                    <input type="text" class="input" value="Truong Trong Khanh">

                    <h2>Password</h2>
                    <input type="password" class="input"><br>
                    <i class="notification">* Enter password to confirm the change</i>

                    <br>
                    <button class="btn-update">Update</button>
                </div>
                <div class="change-password tabShow">
                    <br>
                    <h1>Change Password</h1>

                    <h2>Password</h2>
                    <input type="password" class="input" value="">

                    <h2> New Password</h2>
                    <input type="password" class="input" value="">

                    <h2>Confirm Password</h2>
                    <input type="password" class="input" value="">

                    <br>
                    <button class="btn-update">Update</button>
                </div>
            </div>
        </div>
    </div>
</section>

{{#section 'js'}}
    <script>
        const tabBtn = document.querySelectorAll(".tab");
        const tab = document.querySelectorAll(".tabShow");

        function tabs(panelIndex) {
            tab.forEach(function(node) {
                node.style.display = "none";
            });
            tab[panelIndex].style.display = "block";
        }
        tabs(0);
    </script>
    <script>
        $(".tab").click(function() {
            $(this).addClass("active").siblings().removeClass("active"); 
        })
    </script>
{{/section}}