<form action="" id="NewPost_V">
    <div class="newpost-form">
        <h1 class="title">
            New Post Video
        </h1>
    </div>
    <div class="newpost-form">
        <div>
            Name of video:
        </div>
        <input type="text" id="n_video">
        <div>
            Note:
        </div>
        <input id="Note">
        <div>
            Source:
        </div>
        <input id="source">
    </div>
    <input type="submit" value="Post" class="btn">
</form>