<section id="post">
    <div class="container">
        <h1 class="title">New Post</h1>
        <form action="" id="newPost" method="post">
            <div class="row">
                <div class="col-20">
                    <label for="songName">Name of song:</label>
                </div>
                <div class="col-80">
                    <input type="text" id="tenbh1" name="tenbh1" placeholder="Enter song name...">
                </div>
            </div>
            <div class="row">
                <div class="col-20">
                    <label for="chord">Chords:</label>
                </div>
                <div class="col-80">
                    <textarea id="chord1" name="chord1" placeholder="Chords and lyrics of this song..." style="height:200px"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-20">
                    <label for="singer">Singer:</label>
                </div>
                <div class="col-80">
                    <input type="text" id="casy1" name="casy1" placeholder="Name of the singer performing this song...">
                </div>
            </div>
            <div class="row">
                <div class="col-20">
                    <label for="genre">Genre:</label>
                </div>
                <div class="col-80">
                    <input type="text" id="theloai1" name="theloai1" placeholder="Music genre...">
                </div>
            </div>
            <br>
            <input type="submit" value="Submit" formaction="/post/add">
        </form>
    </div>
</section>