<section id="post">
    <div class="container">
        <h1 class="title">New Post</h1>
        <form action="" id="newPost">
            <div class="row">
                <div class="col-20">
                    <label for="videoName">Name of video:</label>
                </div>
                <div class="col-80">
                    <input type="text" id="videoName" name="videoName" placeholder="Enter video name...">
                </div>
            </div>
            <div class="row">
                <div class="col-20">
                    <label for="desc">Video description:</label>
                </div>
                <div class="col-80">
                    <textarea id="desc" name="desc" placeholder="Description of your video..." style="height:200px"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-20">
                    <label for="desc">Name of song:</label>
                </div>
                <div class="col-80">
                    <input type="text" id="songName" name="songName" placeholder="Enter song name...">
                </div>
            </div>
            <div class="row">
                <div class="col-20">
                    <label for="desc">Singer:</label>
                </div>
                <div class="col-80">
                    <input type="text" id="singer" name="singer" placeholder="Name of the singer performing this song...">
                </div>
            </div>
            <div class="row">
                <div class="col-20">
                    <label for="desc">Genre:</label>
                </div>
                <div class="col-80">
                    <input type="text" id="genre" name="genre" placeholder="Music genre...">
                </div>
            </div>
            <div class="row file-upload">
                <div class="col-20">
                    <label for="singer">Source:</label>
                </div>
                <div class="col-80">
                    <input type="file" id="myFile" name="filename">
                </div>
            </div>
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>
</section>