
<form action="" id="NewPost">
    <div class="newpost-form">
        <h1 class="title">
            New Post
        </h1>
    </div>
    <div class="newpost-form">
        <div>
            Name of song:
        </div>
        <input type="text" id="n_song">
        <div>
            Chords:
        </div>
        <input id="chords">
        <div>
            Singer:
        </div>
        <input id="singer">
        <div>
            Author:
        </div>
        <input id="author">
        <div>
            Genre:
        </div>
        <input id="genre">
    </div>
    <input type="submit" value="Post" class="btn">
</form>