<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-9 text-center">
            <h1>Welcome to Music And Chill</h1>
            <h2>Login for a better experience</h2>
            </div>
        </div>
        <div class="text-center">
            <a href="account/login" class="btn-login scrollto">Login</a>
        </div>

        <div class="row icon-boxes">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box">
                    <div class="icon"><i class="bi bi-music-note-list"></i></div>
                    <h4 class="title"><a href="">Playlist</a></h4>
                    <p class="description">Create your own playlist by adding your favorite songs</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box">
                    <div class="icon"><i class="bi bi-bar-chart"></i></div>
                    <h4 class="title"><a href="">Top songs</a></h4>
                    <p class="description">The most popular songs right now</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="400">
                <div class="icon-box">
                    <div class="icon"><i class="bi bi-boombox"></i></div>
                    <h4 class="title"><a href="">New songs</a></h4>
                    <p class="description">Collection of the latest songs of Music And Chill</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="500">
                <div class="icon-box">
                    <div class="icon"><i class="bi bi-plus-square"></i></div>
                    <h4 class="title"><a href="/RequestNewSong">Request new song</a></h4>
                    <p class="description">Your favorite song isn't available on M.A.C yet ? <br/> Send us a request, we will upload it for you soon</p>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Hero -->