
body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
  }
  
  a {
    color: #2487ce;
    text-decoration: none;
  }
  
  a:hover {
    color: #469fdf;
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Raleway", sans-serif;
  }
  
  /*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/
  .back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #2487ce;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
  }
  
  .back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
  }
  
  .back-to-top:hover {
    background: #3e9bdd;
    color: #fff;
  }
  
  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }
  
  /*--------------------------------------------------------------
  # Preloader
  --------------------------------------------------------------*/
  #preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
  }
  
  #preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #2487ce;
    border-top-color: #fff;
    border-bottom-color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
  }
  
  @-webkit-keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  /*--------------------------------------------------------------
  # Disable aos animation delay on mobile devices
  --------------------------------------------------------------*/
  @media screen and (max-width: 768px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
  }
  
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  #header {
    transition: all 0.5s;
    background: #fff;
    z-index: 997;
    padding: 15px 0;
    border-bottom: 1px solid #d5ebfc;
    box-shadow: 0px 8px 15px rgba(18, 66, 101, 0.08);
  }
  
  #header.header-scrolled {
    border-color: #fff;
    padding: 12px 0;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
  }
  
  #header .logo {
    font-size: 22px;
    margin-right: 15px;
    padding: 0;
    line-height: 1;
    font-weight: 300;
    letter-spacing: 0.5px;
    font-family: "Poppins", sans-serif;
  }
  
  #header .logo a {
    color: #16507b;
  }
  
  #header .logo img {
    max-height: 40px;
  }

  #header .search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid #ccc;
    padding: 8px 12px;
    border-radius: 25px;
  }
  
  #header .search-bar input {
    width: 100%;
    border: 0;
    outline: 0;
    background: transparent;
  } 

  #header .search-bar input:focus {
    box-shadow: none;
    letter-spacing: 1px;
    margin-top: 1px;   
  }

  #header .search-bar img {
    width: 15px;
  }

  #header .user-pic {
    width: 32px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
  }
  
  #header .sub-menu-wrap {
    position: absolute;
    background: #fff;
    top: 80%;
    right: 5%;
    width: 220px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    box-shadow: 1px 1px 5px rgba(119, 119, 119, .5);
  }
  
  #header .sub-menu-wrap.open-menu {
    max-height: 330px;
  }
  
  #header .sub-menu {
    background: #fff;
    padding: 20px;
    margin: 10px;
  }
  
  #header .user-info {
     display: flex;
     align-items: center;
     justify-content: center;
  }
  
  #header .user-info img {
    width: 38px;
    border-radius: 50%;
    margin-right: 18px;
  }

  #header .user-info h3 {
    font-weight: 500;
    font-size: 18px;
    margin-top: 10px;
  }
  
  #header .sub-menu hr {
    border: 0.5px solid;
    height: 1px;
    width: 100%;
    background: rgb(78, 77, 77);
    margin-top: 15px;
  }
  
  #header .sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
  }
  
  #header .sub-menu-link p {
    width: 100%;
    margin-top: 15px;
    font-size: 14px;
  }
  
  #header .sub-menu-link i {
    width: 40px;
    background: #e0e9ec;
    border-radius: 50%;
    padding: 7px 10px 7px 10px;
    margin-right: 20px;
  }
  
  #header .sub-menu-link:hover p {
    font-weight: 600;
  }
  
  #header .sub-menu-link:hover {
    color: #2487ce;
    text-decoration: none;
  }
  
  @media (max-width: 992px) {
    #header .logo {
      font-size: 28px;
    }
  }
  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /**
  * Desktop Navigation 
  */
  .navbar {
    padding: 0;
    margin-left: 20px;
  }
  
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .navbar li {
    position: relative;
  }
  
  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 14px;
    color: #16507b;
    white-space: nowrap;
    transition: 0.3s;
  }
  
  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  
  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #2487ce;
  }
  
  .navbar .login,
  .navbar .login:focus {
    background: #2487ce;
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 4px;
    color: #fff;
  }
  
  .navbar .login:hover,
  .navbar .login:focus:hover {
    color: #fff;
    background: #3194db;
  }
  
  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
  }
  
  .navbar .dropdown ul li {
    min-width: 200px;
  }
  
  .navbar .dropdown ul a {
    padding: 10px 20px;
    text-transform: none;
  }
  
  .navbar .dropdown ul a i {
    font-size: 12px;
  }
  
  .navbar .dropdown ul a:hover,
  .navbar .dropdown ul .active:hover,
  .navbar .dropdown ul li:hover>a {
    color: #2487ce;
  }
  
  .navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  
  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }
  
  .navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
  
  @media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
      left: -90%;
    }
  
    .navbar .dropdown .dropdown:hover>ul {
      left: -100%;
    }
  }
  
  /**
  * Mobile Navigation 
  */
  .mobile-nav-toggle {
    color: #124265;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
  }
  
  .mobile-nav-toggle.bi-x {
    color: #fff;
  }
  
  @media (max-width: 991px) {
    .mobile-nav-toggle {
      display: block;
    }
  
    .navbar ul {
      display: none;
    }
  }
  
  .navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(10, 38, 58, 0.9);
    transition: 0.3s;
    z-index: 999;
  }
  
  .navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  
  .navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
  }
  
  .navbar-mobile a,
  .navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #124265;
  }
  
  .navbar-mobile a:hover,
  .navbar-mobile .active,
  .navbar-mobile li:hover>a {
    color: #2487ce;
  }
  
  .navbar-mobile .login,
  .navbar-mobile .login:focus {
    margin: 15px;
  }
  
  .navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  }
  
  .navbar-mobile .dropdown ul li {
    min-width: 200px;
  }
  
  .navbar-mobile .dropdown ul a {
    padding: 10px 20px;
  }
  
  .navbar-mobile .dropdown ul a i {
    font-size: 12px;
  }
  
  .navbar-mobile .dropdown ul a:hover,
  .navbar-mobile .dropdown ul .active:hover,
  .navbar-mobile .dropdown ul li:hover>a {
    color: #2487ce;
  }
  
  .navbar-mobile .dropdown>.dropdown-active {
    display: block;
  }
  
  /*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
  #hero {
    width: 100%;
    height: 100vh;
    position: relative;
    background: url("../img/hero-bg.jpg") top center;
    background-size: cover;
    position: relative;
  }
  
  #hero:before {
    content: "";
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #hero .container {
    padding-top: 80px;
  }
  
  #hero h1 {
    margin: 0;
    font-size: 44px;
    font-weight: 700;
    line-height: 72px;
    color: #124265;
    font-family: "Poppins", sans-serif;
  }
  
  #hero h2 {
    color: #5e5e5e;
    margin: 10px 0 0 0;
    font-size: 22px;
  }
  
  #hero .btn-login {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.5px;
    display: inline-block;
    padding: 14px 50px;
    border-radius: 5px;
    transition: 0.5s;
    margin-top: 30px;
    color: #fff;
    background: #2487ce;
  }
  
  #hero .btn-login:hover {
    background: #3194db;
  }
  
  #hero .icon-boxes {
    margin-top: 100px;
  }
  
  #hero .icon-box {
    padding: 50px 30px;
    position: relative;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 0 29px 0 rgba(18, 66, 101, 0.08);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
    cursor: pointer;
  }
  
  #hero .icon-box .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
  }
  
  #hero .icon-box .title a {
    color: #124265;
    transition: 0.3s;
  }
  
  #hero .icon-box .description {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
  }
  
  #hero .icon-box .icon {
    margin-bottom: 20px;
    padding-top: 10px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    font-size: 36px;
    line-height: 1;
    color: #2487ce;
  }
  
  #hero .icon-box:hover {
    transform: scale(1.08);
  }
  
  #hero .icon-box:hover .title a {
    color: #2487ce;
  }
  
  @media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
  }
  
  @media (max-height: 800px) {
    #hero {
      height: auto;
    }
  }
  
  @media (max-width: 992px) {
    #hero {
      height: auto;
    }
  
    #hero h1 {
      font-size: 28px;
      line-height: 50px;
    }
  
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
    }
  }
  
  /*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
  section {
    padding: 80px 0;
    overflow: hidden;
  }
  
  .section-bg {
    background-color: #f8fbfe;
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #124265;
  }
  
  .section-title p {
    margin-bottom: 0;
    font-size: 14px;
    color: #919191;
  }

  /*--------------------------------------------------------------
# Profile Section
--------------------------------------------------------------*/
#profile {
  overflow-x: hidden;
  background: #ddf0ff;
}

#profile .container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  align-items: flex-start;
  gap: 0px;
  margin-top: 12px;
}

#profile .left-container {
  background: #fff;
  width: 100%;
  height: 510px;
  position: relative;
  margin: 0 auto;
  margin-top: 10%;
  text-align: center;
  box-shadow: 2px 5px 20px rgba(119, 119, 119, .5);
}

#profile .right-container {
  background: #fff;
  width: 100%;
  height: 510px;
  margin: 0 auto;
  position: relative;
  margin-top: 5%;
  box-shadow: 2px 5px 20px rgba(119, 119, 119, .5);
}

#profile .profile-img {
  width: 120px;
  border-radius: 50%;
  margin-top: 90px;
}

#profile .btn-change-img {
  font-size: 12px;
  border: 0;
  border-radius: 5px;
  color: #fff;
  background: #2487ce;
  padding: 7px 10px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .2);
  cursor: pointer;
  margin-top: 25px;
}

#profile .btn-change-img:hover {
  background: #3e9bdd;
}

#profile .username {
  margin-top: 50px;
  color: #111;
}

#profile .leftbox {
  float:left;
  top: -3%;
  margin-left: 0px;
  position: absolute;
  width: 130px;
  height: 106%;
  background: #097aca;
  box-shadow: 3px 3px 10px rgba(119, 119, 119, .5);
  border: .1em  solid #fff; 
}

#profile nav a {
  list-style: none;
  padding: 35px;
  display: block;
  text-align: center;
  margin-top: 60px;
  color: #fff;
  font-size: 1.2em;
  transition: all .3s ease-in-out;
}

#profile nav a:hover {
  color: #99d4ff;
  cursor: pointer;
  transform: scale(1.2);
}

#profile nav a:first-child {
  margin-top: 120px;
}

#profile a.active {
  color: #99d4ff;
}

#profile .rightbox {
  width: 100%;
  margin-left: 25%;
}

#profile .tabShow {
  transition: all 0.5s ease-in;
  width: 80%;
  display: none;
}

#profile h1 {
  color: #097aca;
  font-size: 1.6rem;
  margin-bottom: 60px;
  margin-top: 45px;
}

#profile h2 {
  color: rgb(90, 89, 89);
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-left: 2px;
  margin-top: 32px;
}

#profile .input{
  border: 0;
  border-bottom: 1px solid #097aca;
  width: 80%;
  font-size: .8em;
  color: #070707;
  outline: none;
}

#profile .input:focus{
  letter-spacing: 0.5px;
  margin-top: 8px;
}

#profile .btn-update {
  text-transform: uppercase;
  font-size: 13px;
  border: 0;
  border-radius: 5px;
  color: #fff;
  background: #2487ce;
  padding: 7px 15px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .2);
  cursor: pointer;
  margin-top: 40px;
  margin-right: 140px;
  float: right;
}

#profile .btn-update:hover {
  background: #3e9bdd;
}

#profile .notification {
  color: #ff0e0e;
  font-size: 11px;
}

@media (max-width: 991px) {
  #profile .leftbox {
    width: 90px;
  }
}

@media (max-width: 768px) {

  #profile .container {
    grid-template-columns: 1fr;
  }

}

/*--------------------------------------------------------------
# Video tutorials Section
--------------------------------------------------------------*/
#video-tutorials {
  background: #f9f9f9;
}

#video-tutorials .container {
  margin-top: 50px;
}
#video-tutorials img {
  cursor: pointer;
}

#video-tutorials .list-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 16px;
  grid-row-gap: 30px;
  margin-top: 15px;
  margin-left: 25px;
}

#video-tutorials .list-container-title {
  font-size: 26px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#video-tutorials .vid-list .thumbnail {
  width: 100%;
  border-radius: 5px;
}

#video-tutorials .vid-list .flex-div {
  display: flex;
  align-items: flex-start;
  margin-top: 15px;
}

#video-tutorials .vid-list .flex-div img {
  width: 35px;
  margin-right: 15px;
  margin-left: 5px;
  border-radius: 50%;
}

#video-tutorials .vid-info {
  color: #5a5a5a;
  font-size: 13px;
}

#video-tutorials .vid-info a {
  color: #000;
  font-weight: 600;
  display: block;
  margin-bottom: 7px ;
}

#video-tutorials .vid-info p {
  display: block;
  margin: 3px;
}

/*--------------------------------------------------------------
# Watch video Section
--------------------------------------------------------------*/
#watch-videos{
  background: #f9f9f9;
}

#watch-videos .container {
  margin-top: 40px;
  padding-left: 2%;
}

#watch-videos img {
  cursor: pointer;
}

#watch-videos .vid-info {
  color: #5a5a5a;
  font-size: 13px;
}

#watch-videos .vid-info a {
  color: #000;
  font-weight: 600;
  display: block;
  margin-bottom: 7px ;
}

#watch-videos .vid-info p {
  display: block;
  margin: 3px;
}

#watch-videos .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#watch-videos .play-video {
  flex-basis: 67%;
}

#watch-videos .play-video video {
  width: 100%;
}

#watch-videos .play-video h3 {
  font-weight: 600;
  font-size: 22px;
  margin-top: 10px;
}

#watch-videos .play-video .play-video-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10px;
  font-size: 14px;
  color: #5a5a5a;
}

#watch-videos .play-video hr {
  height: 1px;
  background: #ccc;
  margin: 5px 0;
}

#watch-videos .publisher {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

#watch-videos .publisher div {
  flex: 1;
  line-height: 18px;
}

#watch-videos .publisher div p {
  color: #000;
  font-weight: 600;
  font-size: 18px;
  margin-top: 20px;
}

#watch-videos .publisher img {
  width: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

#watch-videos .publisher .num-of-ratings {
  font-size: 18px;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 5px;
}

#watch-videos .video-description {
  padding-left: 55px;
  margin: 15px 0;
}

#watch-videos .video-description p {
  font-size: 14px;
  margin-bottom: 5px;
  color: #5a5a5a;
}

#watch-videos .video-description h4 {
  font-size: 14px;
  font-weight: 600;
  color: #5a5a5a;
  margin-top: 15px;
}

#watch-videos .add-comment {
  display: flex;
  align-items: center;
  margin: 30px 0;
}

#watch-videos .add-comment img {
  width: 35px;
  border-radius: 50%;
  margin-right: 15px;
}

#watch-videos .add-comment input {
  border: 0;
  outline: 0;
  border-bottom: 1px solid #ccc;
  width: 100%;
  padding-top: 10px;
  background: transparent;
}

#watch-videos .add-comment input:focus {
  margin-top: 2px;
  letter-spacing: 0.5px;
}

#watch-videos .old-comment {
  display: flex;
  align-items: flex-start;
  margin: 20px 0;
}

#watch-videos .old-comment img {
  width: 30px;
  border-radius: 50%;
  margin-right: 15px;
  margin-top: 10px;
}

#watch-videos .old-comment h3 {
  font-size: 14px;
  margin-bottom: 2px;
}

#watch-videos .old-comment h3 span {
  font-size: 12px;
  color: #5a5a5a;
  font-weight: 500;
  margin-left: 8px;
}

#watch-videos .old-comment .acomment-action {
  display: flex;
  align-items: center;
  margin: 8px 0;
  font-size: 13px;
}

#watch-videos .old-comment .acomment-action span {
  margin-right: 20px;
  color: #5a5a5a;
}

#watch-videos .old-comment .acomment-action a {
  color: #0000ff;
}

#watch-videos .right-sidebar {
  flex-basis: 32%;
}

#watch-videos .side-video-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

#watch-videos .side-video-list img {
  width: 100%;
}

#watch-videos .side-video-list .small-thumbnail {
  flex-basis: 49%;
}

#watch-videos .side-video-list .vid-info {
  flex-basis: 49%;
}

@media (max-width: 900px) {
  #watch-videos .play-video {
    flex-basis: 100%;
  }

  #watch-videos .right-sidebar {
    flex-basis: 100%;
    margin-top: 10px;
  }

  #watch-videos .container {
    padding-left: 5%;
  }

  #watch-videos .video-description {
    padding-left: 0;
  }

  #watch-videos .play-video .play-video-info a {
    margin-left: 0;
    margin-right: 15px;
    margin-top: 15px;
  }
}

/*--------------------------------------------------------------
# Rating
--------------------------------------------------------------*/
#rating .star-rating input {
  display: none;
}
#rating .star-rating label{
  font-size: 22px;
  margin-top: 10px;
  color: #444;
  padding: 5px;
  float: right;
  transition: all 0.2s ease;
}
#rating input:not(:checked) ~ label:hover,
#rating input:not(:checked) ~ label:hover ~ label{   color: #fd4;
}
#rating input:checked ~ label{
  color: #fd4;
}
  
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: #444444;
  font-size: 14px;
  background: #f8fbfe;
  position : relative;
  box-shadow: 0px 2px 15px rgba(18, 66, 101, 0.08);
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #fff;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
  font-size: 26px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 300;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #777777;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #124265;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #2487ce;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #777777;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #2487ce;
}

#footer .footer-newsletter {
  font-size: 15px;
}

#footer .footer-newsletter h4 {
  font-size: 16px;
  font-weight: bold;
  color: #444444;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 5px;
  text-align: left;
  border: 1px solid #cde5f6;
}

#footer .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type=submit] {
  position: absolute;
  top: -1px;
  right: -2px;
  bottom: -1px;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px 2px 20px;
  background: #2487ce;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 5px 5px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type=submit]:hover {
  background: #3194db;
}