<section id="HotSong">
    <h1 class="title_hs">Genre Bolero</h1>

    <div id="infor_hotsong">
        <div>
            <h4 class="title"><a href="">Thích Thích</a></h4>
            <p>Poster: Sự Nguyễn</p>
            <p>Singer: Phương Ly</p>
            <p>Genre: Young music</p>
        </div>
        <div id="rated_form">
            <div id="rated">
                <div class="rate">
                    <input type="radio" name="rate" id="rate-5">
                    <label id="rate-5" for="rate-5" class="fa fa-star"></label>
                    <input type="radio" name="rate" id="rate-4">
                    <label for="rate-4" class="fa fa-star"></label>
                    <input type="radio" name="rate" id="rate-3">
                    <label for="rate-3" class="fa fa-star"></label>
                    <input type="radio" name="rate" id="rate-2">
                    <label for="rate-2" class="fa fa-star"></label>
                    <input type="radio" name="rate" id="rate-1">
                    <label for="rate-1" class="fa fa-star"></label>        
                </div>
            </div>
        </div>
    </div>
</section>