<section id="Song">
    <h1 class="Name_song">
        Thích Thích
    </h1>
    <div class="infor-song-form">
        <div class="Lyrics">
            <pre>
                [C]Em không được xinh đẹp không hay cười duyên chẳng biết làm [G]sao cho trông thật ngoan hiền
                Như bao cô ngoài kia em đây nhìn [Am]cứ ngốc ngốc nghếch nghếch
                Lắm lúc đứng ngắm mình trong [F]gương cứ thấy choáng váng [Fm]nhưng mà anh ơi
                [C]Em rất là vâng lời không la cà ham chơi em hồn [G]nhiên, vô tư và yêu đời
                Nên anh này mong anh không cười [Am]chê mếu có thấy chán
                Em sẽ đến hát đàn anh nghe [F]dẫu sáng dẫu tối [Fm]em sẽ đến bên cạnh anh thôi
                
                [C]Anh sẽ thấy ngoài kia đấy bao cô gái như em
                [Em]Cũng cần tình yêu, cần được hiểu cần một chút nuông chiều
                [Am]I don't wanna let you go Cuz I know I love you so
                [F]Vì cuộc đời chẳng có gì ý [Fm]nghĩa khi mà không có anh
                [C]Anh sẽ biết điều cần thiết là nắm lấy tay em
                [Em]Vì lúc này đây em chỉ muốn gần bên anh mỗi ngày
                [Am]I don't wanna let you go Cuz I know I love you so
                [F]Và thật lòng em chỉ cần anh [Fm]biết một điều duy nhất là
                
                Em [C]thích anh Thichthichthichthich 
                [Em]Thichthichthichthich [Am]Thichthichthichthich
                [F]Và thật lòng em chỉ cần anh biết một điều duy nhất là
                
                [C]Sau bao ngày mong chờ mong anh lại bên em ta cùng [G]vui xin anh đừng hững hờ
                Xa anh một giây thôi trong lòng [Am]em đã thấy nhớ nhớ
                Chỉ muốn nhấc máy gọi cho anh [F]nhưng em chẳng dám
                [Fm]Vì biết anh có nhớ đến em Just close your eyes
                
                [C]Anh sẽ thấy ngoài kia đấy bao cô gái như em
                [Em]Cũng cần tình yêu, cần được hiểu cần một chút nuông chiều
                [Am]I don't wanna let you go Cuz I know I love you so
                [F]Vì cuộc đời chẳng có gì ý nghĩa khi mà không có anh
                [C]Anh sẽ biết điều cần thiết là nắm lấy tay em
                [Em]Vì lúc này đây em chỉ muốn gần bên anh mỗi ngày
                [Am]I don't wanna let you go Cuz I know I love you so
                [F]Và thật lòng em chỉ cần anh biết một điều duy nhất là
                
                Em [C]thích anh có [Em]biết trái tim em
                Đang rung rinh lên chỉ [Am]vì anh nhưng đâu dám [F]nói
                Chỉ biết hát khúc ca này [C]tặng anh
                Liệu [Em]anh có thích em [Am]không [F] [G] [A]
                
                [D]Anh sẽ thấy ngoài kia đấy bao cô gái như em
                [F#m]Cũng cần tình yêu, cần được hiểu cần một chút nuông chiều
                [Bm]I don't wanna let you go Cuz I know I love you so
                [G]Vì cuộc đời chẳng có gì ý [Gm]nghĩa khi mà không có anh
                [D]Anh sẽ biết điều cần thiết là nắm lấy tay em
                [F#m]Vì lúc này đây em chỉ muốn gần bên anh mỗi ngày
                [Bm]I don't wanna let you go Cuz I know I love you so
                [G]Và thật lòng em chỉ cần anh [Gm]biết một điều duy nhất là
                
                Em [D]thích anh Thichthichthichthich 
                [F#m]Thichthichthichthich [Bm]Thichthichthichthich
                [G]Và thật lòng em chỉ cần anh biết một điều duy nhất là
            </pre>
        </div> 
        <div class="infor-form">
            <div class="infor-song">
                <h3 class="title-infor">Thông tin bài hát</h3>
                <p>Singer: Phương Ly</p>
                <p>Author: Phương Ly</p>
                <p>Genre: Ballad</p>
                <p>Poster: Justatee</p>
            </div>
            <div class="add-playlist">
                <p><i class="fa fa-plus"></i><a id="btn-addplaylist" href="#"> Add to playlist</a></p>
            </div>
            <div id="show-playlist" class="">
                <h3 class="title-ll">Your playlist</h3>
                <p><input type="checkbox"></input> Nhạc chill</p>
            </div>
            <div class="publisher">
                <div id="Rating">
                    <div class="star-Rating">
                        <h3 class="rate">Rate</h3>
                        <input type="radio" name="rate" id="rate-5">
                        <label for="rate-5" class="fa fa-star"></label>
                        <input type="radio" name="rate" id="rate-4">
                        <label for="rate-4" class="fa fa-star"></label>
                        <input type="radio" name="rate" id="rate-3">
                        <label for="rate-3" class="fa fa-star"></label>
                        <input type="radio" name="rate" id="rate-2">
                        <label for="rate-2" class="fa fa-star"></label>
                        <input type="radio" name="rate" id="rate-1">
                        <label for="rate-1" class="fa fa-star"></label>        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    const btn_show = document.getElementById('btn-addplaylist')
    const show_pl = document.getElementById('show-playlist')

    btn_show.addEventListener("click", () => {
        show_pl.classList.add("show");
    });     

</script>