<form action="" id="RQNSong">
    <div class="RQNSong-form">
        <h1 class="title">
            Request New Song
        </h1>
    </div>
    <div class="RQNSong-form">
        <div>
            Name of song:
        </div>
        <input type="text" id="rqnn_song">
        <div>
            Lyrics:
        </div>
        <input id="Lyrics">
        <div>
            Singer:
        </div>
        <input id="rqs_singer">
        <div>
            Author:
        </div>
        <input id="rqs_author">
        <div>
            Genre:
        </div>
        <input id="rqs_genre">
        <div>
            Link song:
        </div>
        <input id="rqs_link">
    </div>
    <input type="submit" value=" Send Request" class="btn">
</form>