<form method="post" action="" id="RQNSong">
  <div class="RQNSong-form">
    <h1 class="title">
      Request New Song
    </h1>
  </div>
  <div class="RQNSong-form">
    <div>
      Name of song:
    </div>
    <input type="text" id="rqnn_song" name="rqnn_song" />
    <div>
      Author:
    </div>
    <input id="rqs_author" name="rqs_author" />
    <div>
      Genre:
    </div>
    <input id="rqs_genre" name="rqs_genre" />
  </div>
  <input
    type="submit"
    value=" Send Request"
    formaction="RequestNewSong/request"
    class="btn"
  />
</form>