<section id="video-tutorials">
    <div class="container">
        <h1 class="list-container-title">For newbies:</h1>
        <div class="list-container">
            {{#each this.listvid}}
            <div class="vid-list">
                <a href="/videoTutorial/watchVideo"><img src={{ANH}} class="thumbnail"></a>
                <div class="flex-div">
                    <img src="img/user.png">
                    <div class="vid-info">
                        <a href="/videoTutorial/watchVideo">{{TENVIDEO}}</a>
                        <p>{{NGUOIDANG}}</p>
                        <p>{{DESCRIBDE}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>


        <h1 class="list-container-title">New songs:</h1>
        <div class="list-container">

            <div class="vid-list">
                <a href="/videoTutorial/watchVideo"><img src="img/video-tutorials-avt/2.png" class="thumbnail"></a>
                <div class="flex-div">
                    <img src="img/user.png">
                    <div class="vid-info">
                        <a href="/videoTutorial/watchVideo">Name of the video tutorial</a>
                        <p>User name</p>
                        <p>15k views &bull; 2 days</p>
                    </div>
                </div>
            </div>
        </div>


        <h1 class="list-container-title">Most viewed:</h1>
        <div class="list-container">
            <div class="vid-list">
                <a href="/videoTutorial/watchVideo"><img src="img/video-tutorials-avt/2.png" class="thumbnail"></a>
                <div class="flex-div">
                    <img src="img/user.png">
                    <div class="vid-info">
                        <a href="/videoTutorial/watchVideo">Name of the video tutorial</a>
                        <p>User name</p>
                        <p>15k views &bull; 2 days</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{#section 'js'}}
    <script>
       
    </script>
{{/section}}