<section id="watch-videos">
  <div class="container">
    <div class="row">
      <div class="play-video">
        <video controls muted autoplay>
          <source src="videos/video-1.mp4" type="video/mp4" />
        </video>
        <h3>Name of the video tutorial</h3>
        <div class="play-video-info">
          <p>1225 Views &bull; 2 days ago</p>
        </div>
        <hr />
        <div class="publisher">
          <img src="img/user.png" />
          <div>
            <p>User name</p>
          </div>
          <div id="rating">
            <div class="star-rating">
              <input type="radio" name="rate" id="rate-5" />
              <label id="rate-5" for="rate-5" class="fa fa-star"></label>
              <input type="radio" name="rate" id="rate-4" />
              <label for="rate-4" class="fa fa-star"></label>
              <input type="radio" name="rate" id="rate-3" />
              <label for="rate-3" class="fa fa-star"></label>
              <input type="radio" name="rate" id="rate-2" />
              <label for="rate-2" class="fa fa-star"></label>
              <input type="radio" name="rate" id="rate-1" />
              <label for="rate-1" class="fa fa-star"></label>
            </div>
          </div>
          <span class="num-of-ratings">(11)</span>
        </div>
        <div class="video-description">
          <p>Video about ...</p>
          <p>If you think the video is good, please rate it 5 stars</p>
          <hr />
          <h4>2 Comments</h4>

          <div class="add-comment">
            <img src="img/user.png" />
            <input
              type="text"
              id="cmt"
              name="cmt"
              placeholder="Write comment..."
            />
          </div>
          <input id="submit_cmt" type="submit" value="submit" />
          <div class="old-comment">
            <img src="img/user.png" />
            <div>
              <h3>Trong Khanh <span>2 days ago</span></h3>
              <p>Video hay vcl</p>
              <div class="acomment-action">
                <span>Reply</span>
                <a href="">All replies</a>
              </div>
            </div>
          </div>
          <div class="old-comment">
            <img src="img/user.png" />
            <div>
              <h3>Dat Kha<span>2 days ago</span></h3>
              <p>Video nhu cc</p>
              <div class="acomment-action">
                <span>Reply</span>
                <a href="">All replies</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="right-sidebar">
        <div class="side-video-list">
          <a href="" class="small-thumbnail"><img
              src="img/video-tutorials-avt/1.png"
            /></a>
          <div class="vid-info">
            <a href="">Name of the video tutorial</a>
            <p>User name</p>
            <p>15k Views </p>
          </div>
        </div>

        <div class="side-video-list">
          <a href="" class="small-thumbnail"><img
              src="img/video-tutorials-avt/2.png"
            /></a>
          <div class="vid-info">
            <a href="">Name of the video tutorial</a>
            <p>User name</p>
            <p>15k Views </p>
          </div>
        </div>

        <div class="side-video-list">
          <a href="" class="small-thumbnail"><img
              src="img/video-tutorials-avt/3.png"
            /></a>
          <div class="vid-info">
            <a href="">Name of the video tutorial</a>
            <p>User name</p>
            <p>15k Views </p>
          </div>
        </div>

        <div class="side-video-list">
          <a href="" class="small-thumbnail"><img
              src="img/video-tutorials-avt/4.png"
            /></a>
          <div class="vid-info">
            <a href="">Name of the video tutorial</a>
            <p>User name</p>
            <p>15k Views </p>
          </div>
        </div>

        <div class="side-video-list">
          <a href="" class="small-thumbnail"><img
              src="img/video-tutorials-avt/5.png"
            /></a>
          <div class="vid-info">
            <a href="">Name of the video tutorial</a>
            <p>User name</p>
            <p>15k Views </p>
          </div>
        </div>

        <div class="side-video-list">
          <a href="" class="small-thumbnail"><img
              src="img/video-tutorials-avt/6.png"
            /></a>
          <div class="vid-info">
            <a href="">Name of the video tutorial</a>
            <p>User name</p>
            <p>15k Views </p>
          </div>
        </div>

        <div class="side-video-list">
          <a href="" class="small-thumbnail"><img
              src="img/video-tutorials-avt/7.png"
            /></a>
          <div class="vid-info">
            <a href="">Name of the video tutorial</a>
            <p>User name</p>
            <p>15k Views </p>
          </div>
        </div>

        <div class="side-video-list">
          <a href="" class="small-thumbnail"><img
              src="img/video-tutorials-avt/8.png"
            /></a>
          <div class="vid-info">
            <a href="">Name of the video tutorial</a>
            <p>User name</p>
            <p>15k Views </p>
          </div>
        </div>

        <div class="side-video-list">
          <a href="" class="small-thumbnail"><img
              src="img/video-tutorials-avt/9.png"
            /></a>
          <div class="vid-info">
            <a href="">Name of the video tutorial</a>
            <p>User name</p>
            <p>15k Views </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{#section "js"}}
  <script>

  </script>
{{/section}}